In [107]:
import pandas as pd
import matplotlib.pyplot as plt
import os

import warnings
warnings.filterwarnings("ignore")

In [2]:
os.chdir("F:\\Data analysis\\Power BI\\game FIFA 2022 player stats")

In [3]:
fifa = pd.read_csv("FIFA22_official_data.csv")

In [4]:
fifa1= fifa[['ID','Name','Age','Nationality','Overall','Value','Best Position',"Club"]]

In [5]:
fifa1

,ID,Name,Age,Nationality,Overall,Value,Best Position,Club
0,212198,Bruno Fernandes,26,Portugal,88,€107.5M,CAM,Manchester United
1,209658,L. Goretzka,26,Germany,87,€93M,CM,FC Bayern München
2,176580,L. Suárez,34,Uruguay,88,€44.5M,ST,Atlético de Madrid
3,192985,K. De Bruyne,30,Belgium,91,€125.5M,CM,Manchester City
4,224334,M. Acuña,29,Argentina,84,€37M,LB,Sevilla FC
...,...,...,...,...,...,...,...,...
16705,240558,18 L. Clayton,17,England,53,€100K,GK,Cheltenham Town
16706,262846,�. Dobre,20,Romania,53,€180K,GK,FC Academica Clinceni
16707,241317,21 Xue Qinghao,19,China PR,47,€100K,GK,Shanghai Shenhua FC
16708,259646,A. Shaikh,18,India,47,€110K,GK,ATK Mohun Bagan FC
16709,178453,07 A. Censori,17,Italy,28,€0,ST,Arezzo

0 ID
1 Name
2 Age
3 Nationality
4 Overall
5 Value
6 Best Position
7 Club

In [6]:
k_max=fifa1.iloc[0]["Overall"]

In [7]:

for k in range(len(fifa1["Overall"])):
    
    if k_max<fifa1.iloc[k]['Overall']:
        k_max=fifa1.iloc[k]['Overall']
        k_k=k
print(k_max,fifa1.iloc[k_k][1])

93 L. Messi

In [9]:
fifa1["Overall"].max()

93

In [22]:
fifa2 = fifa1.sort_values(by=["Overall"],axis=0, ascending=False)

In [207]:
f433 = ["GK",
       "LB","CB","CB","RB",
       "LW","CM","RW",
       "ST","CF","ST"]

In [232]:
f442 = ["GK",
       'LWB','CB','CB','RWB',
       'RM','CM','CM','LM',
       'ST','ST']

In [ ]:
f

In [48]:
for f in range(len(f433)):
    print(f433[f])
    for d in range(len(fifa2)):
        if f433[f]==fifa2.iloc[d][6]:
            print(fifa2.iloc[d][6],fifa2.iloc[d][1])
            break

GK
GK J. Oblak
LB
LB A. Robertson
CB
CB V. van Dijk
CB
CB V. van Dijk
RB
RB T. Alexander-Arnold
LM
LM H. Son
CM
CM K. De Bruyne
RM
RM S. Gnabry
ST
ST R. Lewandowski
ST
ST R. Lewandowski
ST
ST R. Lewandowski

In [38]:
def check(list1,val):
    for x in list1:
        if val==x:
            return False
    return True

In [43]:
team1=pd.DataFrame({"ID_NO":[],"Name":[],"Overall":[],"Position":[]})

In [83]:
temp=pd.DataFrame({"ID_NO":[],"Name":[],"Overall":[],"Position":[]})
for f in range(len(f433)):
    #print(f433[f])
    for d in range(len(fifa2)):
        if f433[f]==fifa2.iloc[d][6] and check(temp["ID_NO"],fifa2.iloc[d][0]):
            #print(fifa2.iloc[d][6],fifa2.iloc[d][1])
            temp = temp.append({"ID_NO":fifa2.iloc[d][0],"Name":fifa2.iloc[d][1],'Overall':fifa2.iloc[d][4],'Position':fifa2.iloc[d][6]},
                                   ignore_index=True)
            break

defence=0
for g in range(len(temp)):
    if(temp.iloc[g]["Position"]=="CB" or temp.iloc[g]["Position"]=="LB" or temp.iloc[g]["Position"]=="RB"): 
        defence = defence + temp.iloc[g]["Overall"]
        print(defence/4)

21.75
44.0
66.0
87.75

In [58]:
temp

       ID_NO                 Name  Overall Position
0   200389.0             J. Oblak     91.0       GK
1   216267.0         A. Robertson     87.0       LB
2   203376.0          V. van Dijk     89.0       CB
3   155862.0         Sergio Ramos     88.0       CB
4   231281.0  T. Alexander-Arnold     87.0       RB
5   200104.0               H. Son     89.0       LM
6   192985.0         K. De Bruyne     91.0       CM
7   206113.0            S. Gnabry     85.0       RM
8   188545.0       R. Lewandowski     92.0       ST
9   231747.0            K. Mbappé     91.0       ST
10   20801.0    Cristiano Ronaldo     91.0       ST

0 ID 1 Name 2 Age 3 Nationality 4 Overall 5 Value 6 Best Position 7 Club

# Best National team

In [213]:
def best_nation_team(nationality):
    group = fifa2.groupby("Nationality")
    nation_team=group.get_group(nationality)
    nation_team.sort_values(by=["Overall"], axis=0,ascending=False, inplace = True)
    temp=pd.DataFrame({"ID_NO":[],"Name":[],"Age":[],"Nationality":[],"Overall":[],"Value":[],"Best Position":[],"Club":[]})
    for f in range(len(f433)):
        #print(f433[f])
        for d in range(len(nation_team)):
            if(f433[f]==nation_team.iloc[d][6] and check(temp["ID_NO"],nation_team.iloc[d][0])):
                temp = temp.append({"ID_NO":nation_team.iloc[d][0],"Name":nation_team.iloc[d][1],"Age":nation_team.iloc[d][2],
                                    "Nationality":nation_team.iloc[d][3],'Overall':nation_team.iloc[d][4],
                                    "Value":nation_team.iloc[d][5],"Best Position":nation_team.iloc[d][6],
                                    "Club":nation_team.iloc[d][7]},ignore_index=True)
                break
    if len(temp)< 11:
        print("Invalid Formation",f433)
    else : print(f433)
    print(nationality,"\nAverage age of the team",temp["Age"].mean())
    print("Overall team Rating",temp["Overall"].mean())
    return temp

In [228]:
best_nation_team("Italy")

['GK', 'LB', 'CB', 'CB', 'RB', 'LW', 'CM', 'RW', 'ST', 'CF', 'ST']
Italy
Average age of the team 29.818181818181817
Overall team Rating 83.63636363636364

,ID_NO,Name,Age,Nationality,Overall,Value,Best Position,Club
0,230621.0,G. Donnarumma,22.0,Italy,89.0,€119.5M,GK,Paris Saint-Germain
1,210736.0,Emerson,26.0,Italy,78.0,€15M,LB,Olympique Lyonnais
2,138956.0,G. Chiellini,36.0,Italy,86.0,€12M,CB,Juventus
3,184344.0,L. Bonucci,34.0,Italy,85.0,€17.5M,CB,Juventus
4,203551.0,A. Florenzi,30.0,Italy,81.0,€22M,RB,AC Milan
5,198219.0,L. Insigne,30.0,Italy,86.0,€65.5M,LW,Napoli
6,199556.0,M. Verratti,28.0,Italy,87.0,€79.5M,CM,Paris Saint-Germain
7,210935.0,D. Berardi,26.0,Italy,82.0,€33.5M,RW,U.S. Sassuolo Calcio
8,192387.0,C. Immobile,31.0,Italy,87.0,€67.5M,ST,Lazio
9,159261.0,F. Quagliarella,38.0,Italy,78.0,€4.8M,CF,U.C. Sampdoria
10,208596.0,A. Belotti,27.0,Italy,81.0,€30M,ST,Torino F.C.

# Best Club team

In [215]:
def best_club_team(club_name):
    group = fifa2.groupby("Club")
    club_team=group.get_group(club_name)
    club_team.sort_values(by=["Overall"], axis=0,ascending=False, inplace = True)
    temp=pd.DataFrame({"ID_NO":[],"Name":[],"Age":[],"Nationality":[],"Overall":[],"Value":[],"Best Position":[],"Club":[]})
    for f in range(len(f442)):
        #print(f433[f])
        for d in range(len(club_team)):
            if(f442[f]==club_team.iloc[d][6] and check(temp["ID_NO"],club_team.iloc[d][0])):
                temp = temp.append({"ID_NO":club_team.iloc[d][0],"Name":club_team.iloc[d][1],"Age":club_team.iloc[d][2],
                                    "Nationality":club_team.iloc[d][3],'Overall':club_team.iloc[d][4],
                                    "Value":club_team.iloc[d][5],"Best Position":club_team.iloc[d][6],
                                    "Club":club_team.iloc[d][7]},ignore_index=True)
                break
    
    if len(temp)<11:
        print("Invalid Formation\n",f442)
    else: print(f442)
    print(club_name,"\nAverage age of the team",temp["Age"].mean())
    print("Overall team Rating",temp["Overall"].mean())
    return temp

In [227]:
best_club_team("Chelsea")

Invalid Formation
 ['GK', 'LB', 'CB', 'CB', 'RB', 'RM', 'CM', 'CM', 'LM', 'ST', 'ST']
Chelsea
Average age of the team 27.88888888888889
Overall team Rating 83.44444444444444

,ID_NO,Name,Age,Nationality,Overall,Value,Best Position,Club
0,234642.0,E. Mendy,29.0,Senegal,83.0,€30M,GK,Chelsea
1,164240.0,Thiago Silva,36.0,Brazil,85.0,€9.5M,CB,Chelsea
2,184432.0,Azpilicueta,31.0,Spain,83.0,€25M,CB,Chelsea
3,227796.0,C. Pulisic,22.0,United States,82.0,€49M,RM,Chelsea
4,205498.0,Jorginho,29.0,Italy,85.0,€52.5M,CM,Chelsea
5,207410.0,M. Kovačić,27.0,Croatia,83.0,€41.5M,CM,Chelsea
6,215639.0,Kenedy,24.0,Brazil,78.0,€18M,LM,Chelsea
7,192505.0,R. Lukaku,28.0,Belgium,88.0,€93.5M,ST,Chelsea
8,212188.0,T. Werner,25.0,Germany,84.0,€56.5M,ST,Chelsea

In [233]:
best_club_team("Manchester United")

Invalid Formation
 ['GK', 'LB', 'CB', 'CB', 'RWB', 'RM', 'CM', 'CM', 'LM', 'ST', 'ST']
Manchester United
Average age of the team 28.444444444444443
Overall team Rating 85.0

,ID_NO,Name,Age,Nationality,Overall,Value,Best Position,Club
0,193080.0,De Gea,30.0,Spain,84.0,€28M,GK,Manchester United
1,205988.0,L. Shaw,25.0,England,84.0,€48.5M,LB,Manchester United
2,201535.0,R. Varane,28.0,France,86.0,€68.5M,CB,Manchester United
3,203263.0,H. Maguire,28.0,England,84.0,€42.5M,CB,Manchester United
4,229880.0,A. Wan-Bissaka,23.0,England,83.0,€48.5M,RWB,Manchester United
5,195864.0,P. Pogba,28.0,France,87.0,€79.5M,CM,Manchester United
6,221363.0,D. van de Beek,24.0,Netherlands,81.0,€38.5M,CM,Manchester United
7,20801.0,Cristiano Ronaldo,36.0,Portugal,91.0,€45M,ST,Manchester United
8,179813.0,E. Cavani,34.0,Uruguay,85.0,€26M,ST,Manchester United

In [230]:
group = fifa2.groupby("Club")
club = group.get_group("Manchester United")

In [231]:
club

,ID,Name,Age,Nationality,Overall,Value,Best Position,Club
36,20801,Cristiano Ronaldo,36,Portugal,91,€45M,ST,Manchester United
0,212198,Bruno Fernandes,26,Portugal,88,€107.5M,CAM,Manchester United
27,195864,P. Pogba,28,France,87,€79.5M,CM,Manchester United
855,233049,J. Sancho,21,England,87,€116.5M,CAM,Manchester United
1897,201535,R. Varane,28,France,86,€68.5M,CB,Manchester United
127,231677,M. Rashford,23,England,85,€77.5M,CAM,Manchester United
281,179813,E. Cavani,34,Uruguay,85,€26M,ST,Manchester United
167,205988,L. Shaw,25,England,84,€48.5M,LB,Manchester United
14134,193080,De Gea,30,Spain,84,€28M,GK,Manchester United
1591,203263,H. Maguire,28,England,84,€42.5M,CB,Manchester United
868,229880,A. Wan-Bissaka,23,England,83,€48.5M,RWB,Manchester United
15173,51539,11 E. van der Sar,39,Netherlands,83,€0,GK,Manchester United
16,212462,Alex Telles,28,Brazil,82,€27.5M,LB,Manchester United
130,221363,D. van de Beek,24,Netherlands,81,€38.5M,CM,Manchester United
86,209297,Fred,28,Brazil,81,€22.5M,CDM,Manchester United
895,211300,A. Martial,25,France,81,€34.5M,CAM,Manchester United
15267,233306,D. Henderson,24,England,80,€36M,GK,Manchester United
1342,221660,V. Lindelöf,26,Sweden,80,€23M,CDM,Manchester United
246,237238,S. McTominay,24,Scotland,80,€27.5M,CDM,Manchester United
422,246,13 P. Scholes,37,England,80,€400K,CAM,Manchester United
15083,173373,21 S. Romero,33,Argentina,79,€5.5M,GK,Manchester United
1278,21146,18 M. Carrick,35,England,79,€3M,CM,Manchester United
3980,225508,E. Bailly,27,Côte d'Ivoire,79,€17.5M,CB,Manchester United
1384,191202,N. Matić,32,Serbia,79,€11.5M,CDM,Manchester United
279,207494,J. Lingard,28,England,79,€17.5M,CAM,Manchester United
2996,178088,Juan Mata,33,Spain,78,€9M,CAM,Manchester United
1582,246147,M. Greenwood,19,England,78,€30.5M,CAM,Manchester United
1770,241,14 R. Giggs,39,Wales,78,€1K,CAM,Manchester United
272,208450,Andreas Pereira,24,Brazil,76,€10M,CAM,Manchester United
5653,244,11 G. Neville,35,England,76,€0,CB,Manchester United
15107,163264,T. Heaton,35,England,76,€825K,GK,Manchester United
1023,234574,Diogo Dalot,22,Portugal,76,€11.5M,RWB,Manchester United
14038,1845,08 O. Solskjær,34,Norway,75,€0,ST,Manchester United
7891,194957,P. Jones,29,England,74,€3.5M,CB,Manchester United
10059,254088,A. Diallo,18,Côte d'Ivoire,68,€3.1M,CAM,Manchester United
10241,257470,A. Elanga,19,Sweden,65,€1.7M,CAM,Manchester United
15317,53739,L. Grant,38,England,65,€80K,GK,Manchester United
10433,253465,T. Mengi,19,England,64,€1.4M,CB,Manchester United
11441,260910,S. Shoretire,17,England,62,€1.2M,CAM,Manchester United
9632,258171,H. Mejbri,18,Tunisia,62,€1.3M,CAM,Manchester United
12253,256610,D. Hoogewerf,18,Netherlands,60,€625K,ST,Manchester United