In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import os

import warnings
warnings.filterwarnings("ignore")

In [29]:
os.chdir("F:\\Data analysis\\Power BI\\game FIFA 2022 player stats")

In [30]:
fifa = pd.read_csv("FIFA22_official_data.csv")

In [31]:
fifa1= fifa[['ID','Name','Age','Nationality','Overall','Value','Best Position',"Club"]]

In [32]:
fifa1

,ID,Name,Age,Nationality,Overall,Value,Best Position,Club
0,212198,Bruno Fernandes,26,Portugal,88,€107.5M,CAM,Manchester United
1,209658,L. Goretzka,26,Germany,87,€93M,CM,FC Bayern München
2,176580,L. Suárez,34,Uruguay,88,€44.5M,ST,Atlético de Madrid
3,192985,K. De Bruyne,30,Belgium,91,€125.5M,CM,Manchester City
4,224334,M. Acuña,29,Argentina,84,€37M,LB,Sevilla FC
...,...,...,...,...,...,...,...,...
16705,240558,18 L. Clayton,17,England,53,€100K,GK,Cheltenham Town
16706,262846,�. Dobre,20,Romania,53,€180K,GK,FC Academica Clinceni
16707,241317,21 Xue Qinghao,19,China PR,47,€100K,GK,Shanghai Shenhua FC
16708,259646,A. Shaikh,18,India,47,€110K,GK,ATK Mohun Bagan FC
16709,178453,07 A. Censori,17,Italy,28,€0,ST,Arezzo

0 ID
1 Name
2 Age
3 Nationality
4 Overall
5 Value
6 Best Position
7 Club

In [33]:
k_max=fifa1.iloc[0]["Overall"]

In [34]:

for k in range(len(fifa1["Overall"])):
    
    if k_max<fifa1.iloc[k]['Overall']:
        k_max=fifa1.iloc[k]['Overall']
        k_k=k
print(k_max,fifa1.iloc[k_k][1])

93 L. Messi

In [35]:
fifa1["Overall"].max()

93

In [36]:
fifa2 = fifa1.sort_values(by=["Overall"],axis=0, ascending=False)

In [37]:
f433 = ["GK",
       "LB","CB","CB","RB",
       "LW","CM","RW",
       "ST","CF","ST"]

In [38]:
f442 = ["GK",
       'LWB','CB','CB','RWB',
       'RM','CM','CM','LM',
       'ST','ST']

Creating simple for loop to start with logic development

In [39]:
for f in range(len(f433)):
    print(f433[f])
    for d in range(len(fifa2)):
        if f433[f]==fifa2.iloc[d][6]:
            print(fifa2.iloc[d][6],fifa2.iloc[d][1])
            break

GK
GK J. Oblak
LB
LB A. Robertson
CB
CB V. van Dijk
CB
CB V. van Dijk
RB
RB T. Alexander-Arnold
LW
LW Neymar Jr
CM
CM K. De Bruyne
RW
RW L. Messi
ST
ST R. Lewandowski
CF
CF K. Benzema
ST
ST R. Lewandowski

As above, players with higher overall ratings are getting repeated in the above logic, to solve it. We have created a new 
funtion which will take input one list and a variable and check weather that variable is present in the list or not.

In [40]:
def check(list1,val):
    for x in list1:
        if val==x:
            return False
    return True

In [41]:
team1=pd.DataFrame({"ID_NO":[],"Name":[],"Overall":[],"Position":[]})

In [42]:
temp=pd.DataFrame({"ID_NO":[],"Name":[],"Overall":[],"Position":[]})
for f in range(len(f433)):
    #print(f433[f])
    for d in range(len(fifa2)):
        if f433[f]==fifa2.iloc[d][6] and check(temp["ID_NO"],fifa2.iloc[d][0]):
            #print(fifa2.iloc[d][6],fifa2.iloc[d][1])
            temp = temp.append({"ID_NO":fifa2.iloc[d][0],"Name":fifa2.iloc[d][1],'Overall':fifa2.iloc[d][4],'Position':fifa2.iloc[d][6]},
                                   ignore_index=True)
            break

defence=0
for g in range(len(temp)):
    if(temp.iloc[g]["Position"]=="CB" or temp.iloc[g]["Position"]=="LB" or temp.iloc[g]["Position"]=="RB"): 
        defence = defence + temp.iloc[g]["Overall"]
        print(defence/4)

21.75
44.0
66.0
87.75

In [43]:
temp

       ID_NO                 Name  Overall Position
0   200389.0             J. Oblak     91.0       GK
1   216267.0         A. Robertson     87.0       LB
2   203376.0          V. van Dijk     89.0       CB
3   155862.0         Sergio Ramos     88.0       CB
4   231281.0  T. Alexander-Arnold     87.0       RB
5   190871.0            Neymar Jr     91.0       LW
6   192985.0         K. De Bruyne     91.0       CM
7   158023.0             L. Messi     93.0       RW
8   188545.0       R. Lewandowski     92.0       ST
9   165153.0           K. Benzema     89.0       CF
10  231747.0            K. Mbappé     91.0       ST

0 ID 1 Name 2 Age 3 Nationality 4 Overall 5 Value 6 Best Position 7 Club

# Best National team

In [44]:
def best_nation_team(nationality):
    group = fifa2.groupby("Nationality")
    nation_team=group.get_group(nationality)
    nation_team.sort_values(by=["Overall"], axis=0,ascending=False, inplace = True)
    temp=pd.DataFrame({"ID_NO":[],"Name":[],"Age":[],"Nationality":[],"Overall":[],"Value":[],"Best Position":[],"Club":[]})
    for f in range(len(f433)):
        #print(f433[f])
        for d in range(len(nation_team)):
            if(f433[f]==nation_team.iloc[d][6] and check(temp["ID_NO"],nation_team.iloc[d][0])):
                temp = temp.append({"ID_NO":nation_team.iloc[d][0],"Name":nation_team.iloc[d][1],"Age":nation_team.iloc[d][2],
                                    "Nationality":nation_team.iloc[d][3],'Overall':nation_team.iloc[d][4],
                                    "Value":nation_team.iloc[d][5],"Best Position":nation_team.iloc[d][6],
                                    "Club":nation_team.iloc[d][7]},ignore_index=True)
                break
    if len(temp)< 11:
        print("Invalid Formation",f433)
    else : print(f433)
    print(nationality,"\nAverage age of the team",temp["Age"].mean())
    print("Overall team Rating",temp["Overall"].mean())
    return temp

In [45]:
best_nation_team("Brazil")

['GK', 'LB', 'CB', 'CB', 'RB', 'LW', 'CM', 'RW', 'ST', 'CF', 'ST']
Brazil
Average age of the team 29.09090909090909
Overall team Rating 84.27272727272727

,ID_NO,Name,Age,Nationality,Overall,Value,Best Position,Club
0,212831.0,Alisson,28.0,Brazil,89.0,€82M,GK,Liverpool
1,191043.0,Alex Sandro,30.0,Brazil,83.0,€31.5M,LB,Juventus
2,207865.0,Marquinhos,27.0,Brazil,87.0,€90.5M,CB,Paris Saint-Germain
3,164240.0,Thiago Silva,36.0,Brazil,85.0,€9.5M,CB,Chelsea
4,199304.0,Danilo,29.0,Brazil,81.0,€22.5M,RB,Juventus
5,190871.0,Neymar Jr,29.0,Brazil,91.0,€129M,LW,Paris Saint-Germain
6,187961.0,Paulinho,32.0,Brazil,83.0,€28.5M,CM,Al Ahli
7,135499.0,14 Dagoberto,30.0,Brazil,77.0,€3.6M,RW,Cruzeiro
8,230666.0,Gabriel Jesus,24.0,Brazil,83.0,€52.5M,ST,Manchester City
9,201942.0,Roberto Firmino,29.0,Brazil,85.0,€54M,CF,Liverpool
10,135567.0,12 Nilmar,26.0,Brazil,83.0,€16.5M,ST,Villarreal CF

# Best Club team

In [46]:
def best_club_team(club_name):
    group = fifa2.groupby("Club")
    club_team=group.get_group(club_name)
    club_team.sort_values(by=["Overall"], axis=0,ascending=False, inplace = True)
    temp=pd.DataFrame({"ID_NO":[],"Name":[],"Age":[],"Nationality":[],"Overall":[],"Value":[],"Best Position":[],"Club":[]})
    for f in range(len(f442)):
        #print(f433[f])
        for d in range(len(club_team)):
            if(f442[f]==club_team.iloc[d][6] and check(temp["ID_NO"],club_team.iloc[d][0])):
                temp = temp.append({"ID_NO":club_team.iloc[d][0],"Name":club_team.iloc[d][1],"Age":club_team.iloc[d][2],
                                    "Nationality":club_team.iloc[d][3],'Overall':club_team.iloc[d][4],
                                    "Value":club_team.iloc[d][5],"Best Position":club_team.iloc[d][6],
                                    "Club":club_team.iloc[d][7]},ignore_index=True)
                break
    
    if len(temp)<11:
        print("Invalid Formation\n",f442)
    else: print(f442)
    print(club_name,"\nAverage age of the team",temp["Age"].mean())
    print("Overall team Rating",temp["Overall"].mean())
    return temp

In [48]:
best_club_team("FC Barcelona")

Invalid Formation
 ['GK', 'LWB', 'CB', 'CB', 'RWB', 'RM', 'CM', 'CM', 'LM', 'ST', 'ST']
FC Barcelona
Average age of the team 27.88888888888889
Overall team Rating 82.0

,ID_NO,Name,Age,Nationality,Overall,Value,Best Position,Club
0,192448.0,M. ter Stegen,29.0,Germany,90.0,€99M,GK,FC Barcelona
1,152729.0,Piqué,34.0,Spain,84.0,€13.5M,CB,FC Barcelona
2,13038.0,14 Puyol,35.0,Spain,83.0,€1.3M,CB,FC Barcelona
3,251804.0,S. Dest,20.0,United States,76.0,€15.5M,RM,FC Barcelona
4,228702.0,F. de Jong,24.0,Netherlands,87.0,€119.5M,CM,FC Barcelona
5,237735.0,21 Matheus Fernandes,22.0,Brazil,69.0,€3.1M,CM,FC Barcelona
6,231443.0,O. Dembélé,24.0,France,83.0,€55M,LM,FC Barcelona
7,153079.0,S. Agüero,33.0,Argentina,87.0,€51M,ST,FC Barcelona
8,189805.0,L. de Jong,30.0,Netherlands,79.0,€17M,ST,FC Barcelona

In [24]:
best_club_team("Manchester United")

Invalid Formation
 ['GK', 'LWB', 'CB', 'CB', 'RWB', 'RM', 'CM', 'CM', 'LM', 'ST', 'ST']
Manchester United
Average age of the team 28.875
Overall team Rating 85.125

,ID_NO,Name,Age,Nationality,Overall,Value,Best Position,Club
0,193080.0,De Gea,30.0,Spain,84.0,€28M,GK,Manchester United
1,201535.0,R. Varane,28.0,France,86.0,€68.5M,CB,Manchester United
2,203263.0,H. Maguire,28.0,England,84.0,€42.5M,CB,Manchester United
3,229880.0,A. Wan-Bissaka,23.0,England,83.0,€48.5M,RWB,Manchester United
4,195864.0,P. Pogba,28.0,France,87.0,€79.5M,CM,Manchester United
5,221363.0,D. van de Beek,24.0,Netherlands,81.0,€38.5M,CM,Manchester United
6,20801.0,Cristiano Ronaldo,36.0,Portugal,91.0,€45M,ST,Manchester United
7,179813.0,E. Cavani,34.0,Uruguay,85.0,€26M,ST,Manchester United

I have mention an condition for Invalid formation as the player with a particular position if not present it is skipped as per the logic and the team gets less player. So to tackle that we put condition for such cases.